@use "abstracts" as *;
.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px 14px;
  border-radius: 20px;
  font-weight: 600;
  @include desktop {
    padding-left: 23px;
    padding-right: 23px;
  }
}

.btn-accent {
  background-color: accent("100");
  color: white;
  transition: background-color 0.3s;
  &:hover {
    background-color: accent("200");
  }
}
.intro-card .btn-bookmark {
  position: relative;
  color: hsl(0, 0%, 48%);
  padding-left: 36px;
}
.intro-card .btn-bookmark img {
  position: absolute;
  left: 7px;
  top: 0;
  translate: -50%;
  width: 44px;
}
