@use "abstracts" as *;
.card-about {
}
.card-about h2 {
  font-size: 24px;
}
.card-about p {
  margin-top: 1.5rem;
}
.card-about > p:nth-of-type(2) {
  margin-bottom: 2rem;
}
.card-about .card-nested {
  box-shadow: none;
  border: 1px solid rgba(secondary("100"), 0.6);
  margin-top: 1.5rem;
}
.card-about .card-nested .row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.8rem;
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    align-items: center;
  }
  &:nth-of-type(2) {
    margin-top: 1.5rem;
  }
}
.card-about .card-nested h2 {
  font-size: 24px;
}
.card-about .card-nested .first-row span {
  color: accent("100");
  font-weight: 500;
}

.card-about .card-nested .col-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-about .card-nested .col-1 p {
  margin-top: 0;
}

.card-about .card-nested-suspended {
  opacity: 0.5;
}
.card-about .card-nested-suspended .btn-accent {
  background-color: rgba(secondary("100"), 0.6);
}
