@use "abstracts" as *;

main {
  position: absolute;
  width: 90%;
  top: 319px;
  left: 50%;
  max-width: 800px;

  transform: translateX(-50%);
}

.intro-card {
}
.intro-card > img {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  width: 65px;
}
// todo generalize after finishing
.intro-card h1 {
  text-align: center;
  margin-top: 2rem;
}
.intro-card p {
  margin-top: 1.5rem;
  text-align: center;
}

.intro-card .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
//  buttons are in button component
