@use "abstracts" as *;

nav {
  display: flex;

  @include maxMobile {
    display: none;
    position: absolute;
    bottom: -151%;
    left: 50%;
    background: white;
    transform: translateX(-50%);

    width: 90%;
    border-radius: 10px;
    flex-direction: column;
  }
}
// mobile

nav {
  @include desktop {
    gap: 1rem;
    flex-direction: row;
    position: relative;
  }
}
nav a {
  @include maxMobile {
    color: secondary("200");
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 1px solid $border-color;
  }
  @include desktop {
    color: $links-color;
  }
}
nav a:last-of-type {
  border: none;
}
