@use "abstracts" as *;
@mixin maxMobile {
  @media (max-width: $screen) {
    @content;
  }
}

nav {
  display: flex;

  @include maxMobile {
    display: none;
    position: absolute;
    bottom: -151%;
    left: 50%;
    background: white;
    transform: translateX(-50%);

    width: 90%;
    border-radius: 10px;
    flex-direction: column;
  }
}
// mobile
@function secondary($key) {
  @return map-get($secondary, $key);
}
nav {
  @include desktop {
    gap: 1rem;
    flex-direction: row;
    position: relative;
  }
}
nav a {
  @include maxMobile {
    color: secondary("200");
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 1px solid hsl(0deg 0% 84.98%);
  }
  @include desktop {
    color: $links-color;
  }
}
nav a:last-of-type {
  border: none;
}
