@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
// -------------[colors]------------
$Moderate-cyan: hsl(176, 50%, 47%);
$Dark-cyan: hsl(176, 72%, 28%);

$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 48%);

$secondary: (
  "100": $Dark-gray,
  "200": $Black,
);

$accent: (
  "100": $Moderate-cyan,
  "200": $Dark-cyan,
);
$links-color: white;
// ------------[Screens]-----------
$screen: 600px;
//---------[text]------------
$font-size: 16px;
$font-family: "Commissioner", sans-serif;

// ---------[Hamburger Menu Variables]---------
$Hamburger: (
  "bar-width": 30px,
  "bar-height": 3px,
  "bar-gap": 6px,
  "foreground": white,
  "background": transparent,
  "hamburger-margin": 5px,
  "animation-timing": 200ms ease-in-out,
  "hamburger-height": calc(hm(bar-height) * 3 + hm(bar-gap) * 2),
  "x-width": calc(hm(hamburger-height) * 1.41421356237),
);
@function hm($key) {
  @return map-get($Hamburger, $key);
}
